/*Global*/
@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');

* {
  box-sizing: border-box; /* taken from roll20 */
  font-family: inherit; /* taken from roll20 */
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
}

label {
	margin: 0;
	padding: 0;
	font-size: inherit;
	line-height: inherit;
	font-weight: normal;
}

textarea{
	padding: 0;
	margin: 0;
}

.charsheet {
	padding: 0 !important;
	font-size: 1rem;
	line-height: 1em;
}

/*view*/
.sheet-view {
	display: grid;
	grid: auto 1fr / auto;
	grid-template-areas:
		"tabs"
		"folio";
	//max-height: 11in;
	//max-width: 8.5in;
	//min-height: 480px;
	//min-width: 320px;
}

/*current page*/
.sheet-current-page[value="1"] ~ .sheet-view .sheet-tabs .sheet-tab.sheet-1,
.sheet-current-page[value="2"] ~ .sheet-view .sheet-tabs .sheet-tab.sheet-2,
.sheet-current-page[value="3"] ~ .sheet-view .sheet-tabs .sheet-tab.sheet-3,
.sheet-current-page[value="4"] ~ .sheet-view .sheet-tabs .sheet-tab.sheet-4{
	background: pink;
}

.sheet-current-page[value="1"] ~ .sheet-view .sheet-folio .sheet-page.sheet-1,
.sheet-current-page[value="2"] ~ .sheet-view .sheet-folio .sheet-page.sheet-2,
.sheet-current-page[value="3"] ~ .sheet-view .sheet-folio .sheet-page.sheet-3,
.sheet-current-page[value="4"] ~ .sheet-view .sheet-folio .sheet-page.sheet-4{
	transform: scale(1);
}

/*Tabs*/
.sheet-tabs {
	grid-area: tabs;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.sheet-tab {
	flex: 0;
	white-space: pre;
	display: grid;
	grid-template-areas:
		"label";
	grid: 1fr / 1fr;
}

.sheet-tab input {
	display: none;
}

.sheet-tab label {
	grid-area: label;
}

.sheet-tab span {
	text-align: center;
}

/*Folio*/
.sheet-folio {
	grid-area: folio;
	display: grid;
	grid: 1fr / 1fr;
	grid-template-areas:
		"pages"
}

/*Pages*/
.sheet-page {
	background: #c4b3a0;
	display: grid;
	grid-area: pages;
	transform: scale(0);
	padding: 2em;
}

.sheet-page:after {
	content: "Permission granted to photocopy for personal use only.";
	text-align: right;
}

/**Page 1**/
.sheet-page.sheet-1 {
	grid-template-areas:
		"row1"
		"row2"
		"row3";
}

/*Rows*/
.sheet-page .sheet-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	margin: .1em 0;
}

/*Page 1 Row 1*/
.sheet-page.sheet-1 .sheet-row.sheet-1 {
	grid-area: row1;
}

/*Sections Formating*/
.sheet-section {
	flex: 1;
	display: grid;
	gap: .2em;
	margin: 0 .1em;
	min-width: 320px;
}

/*Section 0*/
.sheet-section.sheet-0 {
	grid: auto auto / auto auto;
	grid-template-areas:
		"logo logo"
		"proficiency actions";
}

/*Section 1*/
.sheet-section.sheet-1 {
	grid: auto auto auto / auto;
	grid-template-areas:
		"character-name"
		"player-name"
		"experience-points";
}

.sheet-field {
	position: relative;
	background: white;
	padding: 1em;
	border: 1px solid #5a1311;
	overflow: auto;
	resize: both;
	height: 100%
}

.sheet-field .sheet-contents {
	position: relative;
	padding-top: 1em;
	padding-left: 4em;
	height: 100%;
}

.sheet-field .sheet-label {
	display: inline-block;
	font-family: 'Aclonica', sans-serif;
	color: #212d61;
	font-size: 1em;
	line-height: 1.1em;
	letter-spacing: .1em;
	position: absolute;
	top: 0;
	left: 0;
	white-space: pre;
}

.sheet-field textarea {
	resize: none;
	white-space: pre;
	height: 100%;
	width: 100%;
	font-size: 1em;
	line-height: 1.1em;
}

.sheet-field textarea:hover {
	background: rgba( 0, 0, 0, .1 );
}

.sheet-field textarea:focus {
	background: rgba( 0, 0, 0, .25 );
}

.sheet-field textarea:active {
	background: rgba( 0, 0, 0, .5 );
}

/*experience-points*/
.sheet-experience-points .sheet-contents {
	display: grid;
	grid: auto / auto 1fr;
	grid-template-areas:
		"label textarea";
	padding: 0;
	gap: 1em;
}

.sheet-experience-points .sheet-label {
	grid-area: label;
	position: relative;
}

.sheet-experience-points textarea {
	grid-area: textarea;
	font-size: 2em;
	line-height: 1.1em;
	height: 1.1em;
}

/*Section 2*/
.sheet-section.sheet-2 {
	grid: auto auto auto auto auto / auto;
	grid-template-areas:
		"ancestry-and-heritage"
		"background"
		"class"
		"size-alignment-traits"
		"deity";
}

.sheet-section.sheet-2 .sheet-contents{
	padding-left: 0;
}

.sheet-section.sheet-2 textarea {
	font-size: 1em;
	height: 1.2em;
	line-height: 1em;
}

.sheet-size-alignment-traits {
	display: grid;
	grid: auto / auto auto auto;
	grid-template-areas:
		"size alignment traits";
}

.sheet-size {
	grid-area: size;
}

.sheet-alignment {
	grid-area: alignment;
}

.sheet-traits {
	grid-area: traits;
}

/*Section 3*/
.sheet-section.sheet-3 {
	grid: auto auto / auto;
	flex: 0;
	grid-template-areas:
		"level"
		"hero-points";
}

/*Page 1 Row 2*/
.sheet-page.sheet-1 .sheet-row.sheet-2 {
	grid-area: row2;
}

/*Section 4*/
.sheet-section.sheet-4 {
	grid: auto auto / auto;
	grid-template-areas:
		"ability-scores"
		"class-dc"
}

/*fieldsets formating*/
.sheet-fieldset {
	background: #9a513e;
	display: grid;
	grid: auto 1fr / auto;
	grid-template-areas:
		"header"
		"contents";
	place-content: stretch;
}

.sheet-fieldset h1 {
	background: #212d61;
	color: white;
	grid-area: header;
	font-family: 'Aclonica', sans-serif;
	font-variant: small-caps;
	text-align: center;
	font-size: 2em;
	line-height: 1.1em;
	padding: .1em;
	white-space: pre;
}

.sheet-fieldset .sheet-content {
	grid-area: contents;
}

/*Abilities Fieldset*/
.sheet-ability-scores {
	grid-area: ability-scores;
}

.sheet-ability-scores .sheet-contents{
}

/*abilities formating*/
.sheet-ability {
	display: grid;
	grid: auto / auto auto;
	grid-template-areas:
		"modifier score";
}

.sheet-modifier {
	grid-area: modifier;
	display: grid;
	grid: auto / auto 1fr;
	grid-template-areas:
		"field label";
}

.sheet-modifier .sheet-field {
	grid-area: field;
	place-self: center;
	font-size: 2em;
	line-height: 1em;
	height: 1.1em;
	width: 2.2em;
	text-align: center;
}

.sheet-modifier .sheet-label {
	grid-area: label;
	display: grid; 
	grid: 1fr auto / auto;
	grid-template-areas:
		"abbr"
		"sub-text";
	place-items: center;
}

.sheet-modifier .sheet-label .sheet-sub-text {
	font-size: .5em;
	line-height: 1em;
}

.sheet-class-dc {
	grid-area: class-dc;
}

/*Section 5*/
.sheet-section.sheet-5 {
	grid: auto auto / auto;
	grid-template-areas:
		"armor-class"
		"saving-throws";
}

/*Section 6*/
.sheet-section.sheet-6 {
	grid: auto auto / auto;
	grid-template-areas:
		"hit-points"
		"perception";
}

/*Page 1 Row 3*/
.sheet-page.sheet-1 .sheet-row.sheet-3 {
	grid-area: row3;
}

/*Section 7*/
.sheet-section.sheet-7 {
	grid: auto auto auto auto / auto;
	grid-template-areas:
		"speed"
		"melee-strikes"
		"ranged-strikes"
		"weapon-proficiencies";
}

/*Section 8*/
.sheet-section.sheet-8 {
	grid: auto auto / auto;
	grid-template-areas:
		"skills"
		"languages";
}

/**Page 2**/
.sheet-page.sheet-2 {
	grid-template-areas:
		"row1"
		"row2";
}

/*Page 2 Row 1*/
.sheet-page.sheet-2 .sheet-row.sheet-1 {
	grid-area: row1;
}

/*Section 9*/
.sheet-section.sheet-9 {
	grid: auto auto auto / auto;
	grid-template-areas:
		"ancestry-feats-and-abilities"
		"skill-feats"
		"general-feats";
}

/*Section 10*/
.sheet-section.sheet-10 {
	grid: auto auto / auto;
	grid-template-areas:
		"class-feats-and-abilities"
		"bonus-feats";
}

/*Page 2 Row 2*/
.sheet-page.sheet-2 .sheet-row.sheet-2 {
	grid-area: row2;
}

/*Section 11*/
.sheet-section.sheet-11 {
	grid: auto / auto;
	grid-template-areas:
		"inventory";
}

/**Page 3**/
.sheet-page.sheet-3 {
	grid-template-areas:
		"row1"
		"row2"
		"row3"
		"row4";
}

/*Page 3 Row 1*/
.sheet-page.sheet-3 .sheet-row.sheet-1 {
	grid-area: row1;
}

/*Section 12*/
.sheet-section.sheet-12 {
	grid: auto / auto;
	grid-template-areas:
		"contents";
}

/*Page 3 Row 2*/
.sheet-page.sheet-3 .sheet-row.sheet-2 {
	grid-area: row2;
}

/*Section 13*/
.sheet-section.sheet-13 {
	grid: auto / auto;
	grid-template-areas:
		"campaign-notes";
}

/*Page 3 Row 3*/
.sheet-page.sheet-3 .sheet-row.sheet-3 {
	grid-area: row3;
}

/*Section 14*/
.sheet-section.sheet-14 {
	grid: auto / auto;
	grid-template-areas:
		"actions-and-activities";
}

/*Page 3 Row 4*/
.sheet-page.sheet-3 .sheet-row.sheet-4 {
	grid-area: row4;
}

/*Section 15*/
.sheet-section.sheet-15 {
	grid: auto / auto;
	grid-template-areas:
		"free-actions-and-reactions";
}

/**Page 4**/
.sheet-page.sheet-4 {
	grid-template-areas:
		"row1"
		"row2";
}

/*Page 4 Row 1*/
.sheet-page.sheet-4 .sheet-row.sheet-1 {
	grid-area: row1;
}

/*Section 16*/
.sheet-section.sheet-16 {
	grid: auto auto / auto;
	grid-template-areas:
		"spell-attack-roll"
		"spell-dc";
}

/*Section 17*/
.sheet-section.sheet-17 {
	grid: auto / auto;
	grid-template-areas:
		"spell-slots-per-day";
}

/*Page 4 Row 2*/
.sheet-page.sheet-4 .sheet-row.sheet-2 {
	grid-area: row2;
}

/*Section 18*/
.sheet-section.sheet-18 {
	grid: auto auto auto / auto;
	grid-template-areas:
		"magic-traditions"
		"cantrips"
		"innate-spells"
		"focus-spells";
}

/*Section 19*/
.sheet-section.sheet-19 {
	grid: auto / auto;
	grid-template-areas:
		"spells";
}

/*Formats*/
.sheet-wip {
	background: red;
}

.sheet-max-paper {
	max-height: 11in;
	max-width: 8.5in;
}

.sheet-min-phone {
	min-height: 480px;
	min-width: 320px;
}



.sheet-compact {
	flex: auto;
	min-width: auto;
}